*{ display:ruby-base-container;
    width: 100%;
    margin:0;
    padding:15;
    text-size-adjust:responsive;
    justify-content:center;
    align-self: center;
      
}


h2{
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(23, 21, 21);
    font-size:20px;
    margin-top: 12px;
    background-color: darkgoldenrod;
}


p{
    font-size: 15px;
    justify-items: center;
justify-content:flex-end;

margin-left: 30;
}
h4{
    font-size: 20px;
    color:rgb(177, 58, 18) ;
    justify-self: flex;
    justify-content: center;
    text-align: center;
    
}
h1{
    font-size: 20px;
    justify-content:center;
   background-color:red;

   
}

h5{
    font-size: 15px;
    color:rgba(37, 29, 23, 0.734) ;
    justify-content: center;
    text-align: center;
    justify-self: flexbox;
    
    
}
figure{
    margin-left: 40px;
    margin-right: 20px;
    display:-moz-grid-group;
    gap: 2px;
}

.image-box{
    width: 200px;
    height:flex;
background-color: blanchedalmond;
border-radius: 20px;
display:ruby-base-container;
margin-left: justify;
margin-right: justify;

}
.image-box img{
    width: 100%;
    height: 200px;
    

}
.image-box figcaption{
    margin-top: 8px;
    font-size: 14px;
    color: #555;
    justify-self: center;
    text-align: center;
    text-transform: flex;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

html{
    scroll-behavior: smooth;
}

section.fade-in{
    background-color: mediumseagreen;
    margin-top: 20px;
    justify-content: center;

}

section.galerie{
 background-color:mediumseagreen ;
    margin-top: 20px;}
section{
    min-height: 500px;
}
header{
    background-color: mediumseagreen;
    min-height: 10px;
    text-align:400px ;
    color: white;
    font-size: 18px;}
    ul{
        display: flex;
        margin: 50px 0;}
     
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

.content{
    margin-top: 5px;
}
.btn-retour {
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 5px;
    background-color: #d35400;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(188, 109, 13, 0.2);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1100;
}
@media (max-width: 768px) {
    main-title {
        font-size:  2.2rem ;}
        .hero {
            padding: 60px 20px;}
        }