body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c8f8f;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #1f6f6f;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: 15px 0 5px;
}

footer {
    background-color: #2c8f8f;
    color: white;
    text-align: center;
    padding: 15px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: #2e8b57;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 15px;
    padding: 20px;
}

.menu a {
    background: white;
    text-decoration: none;
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu a:hover {
    background: #2e8b57;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #ddd;;
}
