body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f9f4;
    color: #333;
}

header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 30px 10px;
}


nav {
    background-color: #1b5e20;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #2e7d32;
}

ul {
    list-style-type: square;
}

footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.btn-retour {
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 5px;
    background-color: #d35400;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(188, 109, 13, 0.2);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1100;
}