body {
    font-family: Arial, sans-serif;
    background-color: #fffaf0;
    color: #5d4037;
    margin: 0;
}

header {
    background-color: #d84315;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.highlights {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: white;
    border: 1px solid #d7ccc8;
    padding: 15px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

h3 {
    color: #bf360c;
}

