/* Importation d'une police moderne depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f9f9;
}

/* En-tête (Header) */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('sary/milay.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.btn-retour {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #D35400;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50PX;
    box-shadow: 0 4px 15px rgba(211, 84, 0, 0.3);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1100;
}
header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    color: #e0f7fa;
}

/* Barre de navigation */
.nav {
    background-color: #00796b;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.nav li {
    margin: 0 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #b2dfdb;
}

/* Sections */
section {
    padding: 60px 10% ;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

section h2 {
    color: #004d40;
    margin-bottom: 30px;
    font-size: 2rem;
    border-bottom: 3px solid #00796b;
    display: inline-block;
    padding-bottom: 10px;
}

section img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

section p {
    font-size: 1.1rem;
    margin-top: 20px;
}

/* Liste des activités */
#activites ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

#activites li {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border-left: 5px solid #00796b;
}

/* Pied de page (Footer / Contact) */
footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

footer h2 {
    color: #b2dfdb;
    margin-bottom: 20px;
}

footer p {
    margin: 10px 0;
}

/* Responsive : Adaptation pour mobile */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    
    .nav ul {
        flex-direction: column;
    }
    
    .nav li {
        margin: 10px 0;
    }
}